doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.min.css')
  title Document
body
  .app
    .app__inner
      main
        section.comments
        section.section_padding_none
          .comment-reply
            form
              .comment-reply__wrapper
                input.input.comment-reply__author(placeholder='Введите ваше имя' name="comment-author")
                .comment-reply__validation
                input.input.comment-reply__date(name="comment-date" type="date")
                .comment-reply__validation
                input.input.comment-reply__text(placeholder='Введите текст комментария' name="comment-text")
                .comment-reply__validation
              ul.comment-reply__controls
                li
                  button.button.button_success(type='submit' name="button-comment-submit") Отправить  
  script(src="js/main.js" type="module")



